This notebook starts an analysis of the statistical characteristics of decimal expansion of various numbers. We start with the $\pi$. The ultimate goal will be to verify which expansions can be learnt by ML/ANN methods.

In [53]:
%matplotlib qt
from mpmath import mp
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
mp.dps = 1000000  # set number of digits
a = mp.pi # our decimal representations for pi
df = pd.DataFrame([c for c in str(a) if c != '.'], columns=['digit']) # create df with consecutive digits along rows (+ get rid of comma)
df = df.astype(int)
df.to_pickle("pi.pkl") # this might be somewhat large, so let's pickle df

Let's start with a very basic observation of frequency of

In [97]:
df = pd.read_pickle("pi.pkl")
fig, ax = plt.subplots()

ax.hist(df.digit, ec='black', bins=[i for i in range(0,11)], align='left')
# ax.set_xticks([i for i in range(0,len(pd.unique(df.digit)))])
ax.set_xticklabels([str(x) for x in sorted(pd.unique(df.digit))])
ax.set_title("number of digits in $\pi$ expansion per {} cases".format(mp.dps))
plt.show()
# plt.savefig('pi_digit_statistics.png', bbox_inches='tight')

In [92]:
[i for i in range(0,11)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [82]:
df.describe()

                digit
count  1000000.000000
mean         4.499936
std          2.871711
min          0.000000
25%          2.000000
50%          4.000000
75%          7.000000
max          9.000000