In [21]:
%matplotlib qt
from mpmath import mp
import pandas as pd
import matplotlib.pyplot as plt

mp.dps = 100000  # set number of digits
a = mp.pi
# print(mp.pi)   # print pi to a thousand places

In [22]:
lista = [c for c in str(a)]

In [23]:
df = pd.DataFrame(lista, columns=['digit'])
df = df.loc[~(df.index == 1)]
df = df.astype(float)

In [26]:
plt.hist(df.digit, bins=19)
plt.show()

In [9]:
df

     digit
0      3.0
2      1.0
3      4.0
4      1.0
5      5.0
..     ...
96     1.0
97     7.0
98     0.0
99     6.0
100    8.0

[100 rows x 1 columns]